.Item{
    height: 120px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    &:hover{
        transform: scale(1.05);
    }
}
.icon{
    font-size: 60px;
    border: 1px solid #eee8e8;
    border-radius: 10px;
    padding: 10px;
}
.text{
    height: 40px;
    width: 50%;
    font-size: 16px;
}